body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica', sans-serif;
  overflow-x: hidden;
  background-color: #f6f6f6; /* Fondo gris claro */
}

canvas {
  position: absolute;
}

.ctn {
  position: relative;
  width: 360px;
  height: 640px;
  background-color: #ffcc00; /* Amarillo */
  border-radius: 10px; /* Esquinas redondeadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

#scoreboard {
  position: absolute;
  top: 540px;
  width: 360px;
  text-align: center;
  font-size: 50px;
  color: #ff3366; /* Rosa */
}

#start-screen {
  position: absolute;
  top: 20px;
}

#gameover-screen {
  visibility: hidden;
  position: absolute;
  width: 360px;
  height: 640px;
  opacity: 0;
  transition: opacity 1s;
  text-align: center;
}

#gameover {
  width: 280px;
  background-color: #ff3366; /* Rosa */
  color: #ffffff;
  padding: 10px 20px;
  font-size: 40px;
  letter-spacing: 4px;
  margin: auto;
  margin-top: 200px;
  border-radius: 8px; /* Esquinas redondeadas */
}

#replay {
  width: 100px;
  background-color: #ff3366; /* Rosa */
  color: #ffffff;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 4px;
  transition: background-color 1s;
  margin: 100px auto;
  border-radius: 5px; /* Esquinas redondeadas */
}

#replay:hover {
  background-color: #ffffff;
  color: #ff3366; /* Rosa */
  cursor: pointer;
}

#ctrl-ctn {
  position: absolute;
  top: 300px;
  left: 80px;
  opacity: 1;
  transition: opacity 1s;
}

.ctrl-btn {
  background-color: #ff3366; /* Rosa */
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  padding: 8px 16px;
  margin: 10px;
  border-radius: 5px; /* Esquinas redondeadas */
}